<!-- <footer class="page-footer center-on-small-only pt-0 mt-10 fixed-bottom">
  <div class="footer-copyright text-center py-1">
    <div class="container-fluid small">
      &copy; 2021-2022 | <a href="https://www.erainfotechbd.com/"> e-Com</a> | Developed By <a href="https://www.linkedin.com/in/arifultonu/">Microservices Team</a>
    </div>
  </div>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">e-Medicare</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>e-Medicare is a ecommerce web application developed for Simplilearn Capstone Project.
        </p>
        <p>Technology Stack which i have used- Java Spring Boot, Angular, MySql, AWS EC2, Docker, Jenkins.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">DevOps</a>
        </p>
        <p>
          <a href="#!">Web Application</a>
        </p>
        <p>
          <a href="#!">Digital Marketing</a>
        </p>
        <p>
          <a href="#!">Spring Boot, Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> 22/1, Block: A, 5th Floor, Dhaka
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> ariful@erainfotechbd.com
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>WhatsApp: +88 01717 819612
        </p>
        <p>
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon> Skype: tonu2050
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">      
    &copy; 2021-2022 | <a href="https://www.erainfotechbd.com/"> e-Medicare</a> | Developed By <a href="https://www.linkedin.com/in/arifultonu/">Md. Ariful Islam</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->